
<h1>Welcome to the Register page!</h1>

 <div class="container-fluid py-3">
    <h1>Angular Reactive Form Validation</h1>
    <div class="row justify-content-center my-5">
      <div class="col-4">
        <form [formGroup]="reactiveForm" #form="ngForm">
  
          <div class="row">
            <div class="col mb-2">
              <label for="email" class="form-label">Email:</label>
              <input type="email" id="email" name="email" formControlName="email" placeholder="Nhập email" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                <div *ngIf="email.errors?.['required']">
                  This field is required.
                </div>
                <div *ngIf="email.errors?.['minlength']">
                  This field must have at least 1 character.
                </div>
                <div *ngIf="email.errors?.['maxlength']">
                  This field must have at most 250 characters.
                </div>
                <div *ngIf="!email.errors?.['required'] && !email.errors?.['minlength'] && !email.errors?.['maxlength'] && email.errors?.['emailValidator']">
                  Invalid email format.
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col mb-2">
              <label for="name" class="form-label">Số điện thoại : </label>
              <input type="text" id="name" name="name" formControlName="name" placeholder="Nhập số điện thoại" required minlength="10" maxlength="11" class="form-control form-control-sm" [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                <div *ngIf="name.errors?.['required']">
                  This field is required.
                </div>
                <div *ngIf="name.errors?.['minlength']">
                  This field must have at least 10 character.
                </div>
                <div *ngIf="name.errors?.['maxlength']">
                  
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col mb-2">
              <label for="password" class="form-label">Mật khẩu:</label>
              <div class="input-group input-group-sm has-validation">
                <input placeholder="Mật khẩu" [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" formControlName="password" required minlength="15" class="form-control form-control-sm" [class.is-invalid]="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                  <div *ngIf="password.errors?.['required']">
                    This field is required.
                  </div>
                  <div *ngIf="password.errors?.['minlength']">
                    This field must have at most 15 characters.
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col mb-2">
              <label for="password2" class="form-label">Xác nhận mật khẩu : </label>
              <div class="input-group input-group-sm has-validation">
                <input placeholder="Mật khẩu" [type]="user.showPassword ? 'text' : 'password2'" id="password2" name="password2" formControlName="password2" required minlength="15" class="form-control form-control-sm" [class.is-invalid]="password2.invalid && (password.dirty || password2.touched)">
  
                <div *ngIf="password2.invalid && (password2.dirty || password2.touched)" class="invalid-feedback">
                  <div *ngIf="password2.errors?.['required']">
                    This field is required.
                  </div>
  
                  <div *ngIf="password2.errors?.['minlength']">
                    This field must have at most 15 characters.
                  </div>
                  <div *ngIf="password2==password">
                    Passwords do not match.
                  </div>
  
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col mb-2 d-grid">
              <button type="button" class="btn btn-sm btn-primary" (click)="validate()">Đăng ký</button>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  